<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--Web攻撃手法の１つであるクロスサイトリクエストフォージェリー (Cross-Site Request Forgery: CSRF)を防ぐために使われるRailsのメソッド
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          ↑のパーシャル    -->
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!--上のrednderにより要らなくなる
    <header class = "navbar navbar-fixed-top navbar-inverse">
      <div class ="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class = "nav navbar-nav navbar-right">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>-->
    <div class = "container">
      <% flash.each do |message_type, message| %>
        <!--<div class = "alert alert-<%= message_type %>"><%= message %></div>-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <!--ビルトインのdebugメソッドとparams変数を使って、
      各プロフィールページにデバッグ用の情報が表示されるようになります
    開発環境だけでデバッグ情報は出したいからifを書いた-->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
